{% extends 'homework/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
                <div class="form-group">
                    <button class="btn btn-info" type="submit">Sign In</button>
                </div>
    </form>
        <div class="border-top pt-3">

            <small class="text-muted">
                Have no account yet? <a class='ml-2' id="sign_up" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
{% endblock content %}